@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap");

.wrap {
  width: 1100px;
  margin: 0 auto;
}

.search::placeholder {
  color: #324950;
}

html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

body{
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #324950;
}

.header__wrepper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
   justify-content: space-between;
   padding: 20px;
}
.header__search {
  background-image: url(../Фото/Иконки/ico_search.svg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  align-self: flex-end;
  width: 350px;
  height: 30px;
  margin-bottom: 42px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #324950;
  border-bottom: #324950 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
}
.header__list{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 650px;
  height: 26px;
  left: 800px;
  top: 74px;
}
.header__items{
  margin-right: 46px;
}
.header__items:last-child{
  margin-right: 0;
}
.header__link{
  font-size: 18px;
line-height: 26px;
color: #324950;
}
.header__link:hover, .header__link:focus, .header__link:active{
  opacity: .75;
}